<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net46" />
  <package id="Tortuga.Anchor" version="2.0.6931.40035" targetFramework="net46" />
  <package id="Tortuga.Chain.Core" version="2.1.6963.38576" targetFramework="net46" />
  <package id="Tortuga.Chain.SqlServer" version="2.1.6988.28249" targetFramework="net46" />
</packages>