<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="SqlServerTestDatabase" connectionString="Provider=SQLNCLI11;Data Source=localhost;Initial Catalog=SqlServerTestDatabase;Integrated Security=SSPI;" />
    <!--<add name="AdventureWorks2014" connectionString="Provider=SQLNCLI11;Data Source=localhost;Initial Catalog=AdventureWorks2014;Integrated Security=SSPI;" />-->
    <!--<add name="WideWorldImporters" connectionString="Provider=SQLNCLI11;Data Source=localhost;Initial Catalog=WideWorldImporters;Integrated Security=SSPI;" />-->
  </connectionStrings>
  <runtime>
  </runtime>
</configuration>