<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Tortuga.Anchor" publicKeyToken="f554488cb4f278bd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.5.5941.41169" newVersion="0.5.5941.41169" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>