<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Tortuga.Anchor" publicKeyToken="f554488cb4f278bd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.5927.3723" newVersion="0.3.5927.3723" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>