<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="SqlServerTestDatabase" connectionString="Server=.;Database=SqlServerTestDatabase;Trusted_Connection=True;"/>
    <!--<add name="AdventureWorks2014" connectionString="Server=.;Database=AdventureWorks2014;Trusted_Connection=True;"/>-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
