<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="AccessTestDatabase" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=AccessTestDatabase.mdb;Jet OLEDB:Engine Type=5" />
  </connectionStrings>
  <runtime>
  </runtime>
</configuration>