<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Data.Sqlite" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Data.Sqlite.Core" version="2.0.0" targetFramework="net461" />
  <package id="Nito.AsyncEx.Coordination" version="1.0.2" targetFramework="net461" />
  <package id="Nito.AsyncEx.Tasks" version="1.1.0" targetFramework="net461" />
  <package id="Nito.Collections.Deque" version="1.0.4" targetFramework="net461" />
  <package id="Nito.Disposables" version="1.2.3" targetFramework="net461" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.8" targetFramework="net461" />
  <package id="SQLitePCLRaw.core" version="1.1.8" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.8" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.8" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.8" targetFramework="net461" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.8" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net461" />
  <package id="Tortuga.Anchor" version="1.2.6283.989" targetFramework="net461" />
  <package id="Tortuga.Chain.Core" version="1.1.6458.19749" targetFramework="net461" />
</packages>