<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MySqlConnector" version="0.48.2" targetFramework="net46" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net46" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net46" />
  <package id="System.Memory" version="4.5.0" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net46" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net46" />
  <package id="Tortuga.Anchor" version="2.0.6931.40035" targetFramework="net46" />
  <package id="Tortuga.Chain.Core" version="2.0.6932.69" targetFramework="net46" />
</packages>