<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="PostgreSqlTestDatabase" connectionString="User ID=postgres; Password=toor; Host=localhost; Port=5432; Database=tortugachaintestdb; Pooling=true;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
